<div class="login_container">
    <h2>Login</h2>
  
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text"
             placeholder="Username"
             name="username"
             [(ngModel)]="username"
             required
             #usernameRef="ngModel"
             [ngClass]="{'invalid_field': usernameRef.invalid && (usernameRef.touched || loginForm.submitted)}"/>
  
      <input type="password"
             placeholder="Password"
             name="password"
             [(ngModel)]="password"
             required
             #passwordRef="ngModel"
             [ngClass]="{'invalid_field': passwordRef.invalid && (passwordRef.touched || loginForm.submitted)}"/>
  
      <button type="submit">Login</button>
    </form>
  </div> 
  