<div class="preview_container" *ngIf="!loading && post; else loadingTemplate">
    <h2>Preview Post #{{ post.id }}</h2>
  
    <p>Title: {{ post.title }}</p>
    <p>Body:{{ post.body }}</p>
    <p *ngIf="post.tags?.length">
        <strong>Tags:</strong> {{ (post.tags || []).join(', ') }}
    </p>
  
    <button class="backBtn" (click)="back()">Back</button>
  </div>
  
  <ng-template #loadingTemplate>
    <div class="spinner_container">
      <div class="spinner"></div>
    </div>
  </ng-template>
  